@import url('https://fonts.googleapis.com/css2?family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
        body {
            font-family: "Overlock", sans-serif;
            font-weight: 400;
            font-style: normal;
            color: #333;
            text-align: center;
            margin: 0;
            padding: 0;
        }

		p {
            font-size: 1.2em;
            margin-top: 20px;
            
        }
		img.logo {
            width: 200px; 
            height: 200px; 
        }